@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

/* Order of the a:... is important */
a {
    /* text-decoration: underline; */
    /* text-decoration: none; */
    /* cursor: not-allowed; */
    /* cursor: pointer; */
    /* color: blue; */
    color: hsl(207, 44%, 49%);
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    /* color: hsl(194, 44%, 49%); */
    /* opacity: 0.6;        */
    background-color: gold;
}

a:active {
    color: red;
}