@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    /* font-family: sans-serif; */
    /* font-family: monospace; */
    /* font-family: cursive; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Lato', sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-decoration: none; */
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    /* text-align: center; */
    /* text-align: justify; */
    /* text-indent: 2em; */
    /* line-height: 1.5; */
    /* letter-spacing: 0.1em; */
    /* word-spacing: 0.5em; */
    /* font-weight: 400; */
    /* font-style:italic */
    font-style: normal;
}

