{% extends "layout.html" %}

{% block body %}
    <h1>Books</h1>
    <ul>
        {% for book in books %}
            <li>
                <h2>
                    {{ book["title"] }} by {{ book["author"] }}
                    <form action="/cart" method="post">
                        <input type="hidden" name="id" value="{{ book['id'] }}">
                        <button type="submit">Add to cart</button>
                    </form>
                </h2>
            </li>
        {% endfor %}
    </ul>   
    <a href="/cart">Go to shopping cart</a>
{% endblock %}