{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing, price in listings %}
    {% if listing.is_closed == False %}
    <a href="{% url 'listing' listing.id %}">
    <div class="form-group border">

        <div id="left" class="imgbox"><img class="center-fit" src="{{ listing.image_url }}" alt="{{ listing.title }}"></div>
        <div id="right">
            <h4 style="font-weight: bold;">{{ listing.title }}</h4>
            <span style="font-weight: bold; font-size: 20px">Price</span> <span style="font-size: 20px">${{ price|stringformat:".2f" }}</span> <br>
            <div class="creation_date">Created {{ listing.datetime }}</div>
        </div>
        
        <div style="clear: both;"></div>

    </div>
    </a>
    {% endif %}
    {% empty %}
        Currently there are no active listings 
    {% endfor %}

{% endblock %}