@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@400;700&display=swap');

/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.start label {
  padding: 0;
  margin: 0;
}

/* MAIN STYLES */
body {
  font-family: 'Karla', sans-serif;
}

.start {
  padding: 2rem;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background-image: url("/images/blue-blob.svg"), url("/images/yellow-blob.svg");
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 40vw, 40vw;
  background-repeat: no-repeat, no-repeat;
}

.start h1 {
  font-size: 4rem;
  color: #293264;
}

.start p {
  font-size: 1.5rem;
  color: #293264;
  font-family: 'Inter', sans-serif;
}

.start form {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: #293264;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.start form label {
  color: #293264;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.start form .select {
  color: #293264;
  font-family: 'Inter', sans-serif;
  background-color: #DEEBF8;
  border: 1px solid #5c68ac;
  box-shadow: 2px 2px 2px #5c68ac;
  border-radius: 0.5rem;
  padding: 0.4rem;
  font-size: 1rem;
}

.start form .select option {
  border-bottom: 1px solid black;
  padding: 2rem;
}

.start form .select option:hover {
  background-color: #4D5B9E;
}

.start input[type="range"]::-webkit-slider-thumb {
  background-color: #4D5B9E;
}

.start input[type="range"]::-moz-range-thumb {
  background-color: #4D5B9E;
}

.start input[type="range"]::-ms-thumb {
  background-color: #4D5B9E;
}

.start input[type="range"]::-webkit-slider-runnable-track {
  background-color: #DEEBF8;
}

.start input[type="range"]::-moz-range-::-webkit-slider-runnable-track {
  background-color: #DEEBF8;
}

.start input[type="range"]::-ms-::-webkit-slider-runnable-track {
  background-color: #DEEBF8;
}

.start button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  width: 40vw;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 40px;
}

.start button:active {
  box-shadow: 2px 2px 2px #000050;
}

.mainGame {
  background-color: #F5F7FB;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  gap: 0.5rem;
  background-image: url("/images/blue-blob.svg"), url("/images/yellow-blob.svg");
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  background-size: 25vw, 25vw;
  background-repeat: no-repeat, no-repeat;
  padding: 2rem;
  position: relative;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: #293264;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  padding: 0.5rem 0rem;
  width: 100%;
}

.answers {
  display: grid;
  grid-template: auto / 1fr;
  gap: 0.8rem;
  width: 100%;
}

.answer {
  border-radius: 10px;
  border: 1px solid #4D5B9E;
  text-align: center;
  color: #293264;
  font-family: 'Inter', sans-serif;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.no-selection-alert {
  color: rgb(248, 148, 148);
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(192, 3, 3);
}

.mainGame hr {
  border: 0.5px solid #DBDEF0;
}

.mainGame .main-button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  width: 33vw;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: 30px;
}

.mainGame .main-button:active {
  box-shadow: 2px 2px 2px #000050;
}

.score-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-weight: 700;
  font-size: 1.4rem;
  color: #293264;
  display:flex;
  align-items: center;
}

.score-points {
  font-size: 1.7rem;
  padding: 0 0.3rem;
}

.return-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 20vw;
  cursor: pointer;
  padding: 0 0 1rem 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  height: 15vh;
  max-height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .answers {
    display: flex;
    justify-content: center;
  }

  .answer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
