@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav {
  display: flex;
  padding: 1.5em;
  align-items: center;
}

nav img {
  width: 30px;
  height: 30px;
  margin-right: 0.4em;
}

nav h2 {
  letter-spacing: -0.407px;
}

nav a {
  text-decoration: none;
  color: #090909;
  text-transform: uppercase;
}

nav a:hover {
  text-decoration: none;
  color: #585858;
}

nav a[href="home.html"] {
  margin-left: auto;
}

nav a:last-child {
  padding-left: 1.5em;
}

main {
  background-image: url("./img/main.png");
  min-height: 400px;
  background-size: cover;
  background-position-y: 80%;
  background-repeat: no-repeat;
  color: #fff;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-blend-mode: darken;
  background-color: #666;
}

.date {
  font-size: 1em
}

main h1 {
  margin: 0.2em 0;
}

.main-description {
  font-size: 1.2em;
  padding-bottom: 0.8em;
  max-width: 800px;
}

section.blogs {
  display: flex;
  flex-direction: column;
  padding: 2.5em 1.5em;
  gap: 3em;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

article .image {
  border-radius: 5px;
  height: 300px;
}

article .image img {
  border-radius: 5px;
  height: 300px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.view-more {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 3em;
  cursor: pointer;
}

footer {
  min-height: 120px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-top {
  color: #ECECEC;
  font-weight: 700;
}

.footer-bottom {
  color: #D7D7D7;
}

@media (min-width: 624px) {
  section.blogs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  article {
    flex: 1 300px;
  }
}

@media (min-width: 1350px) {
  section.blogs {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 400px));
    grid-gap: 3em;
  }
}